<h1>What's wrong with my app?</h1>

<form action="/" method="post">
	<p>
		URL or app name:
		<input type="text" name="url" />
		<input type="submit" value="Check it out" />
	</p>
</form>

<div>
	Domain name points at proxy.heroku.com...
	<img src="/images/check.png" />
</div>

<div>
	HTTP status...
	<img src="/images/spinner.gif" />
</div>

