<h3>Probing <a href="<%= @probe.url %>"><%= @probe.url %></a></h3>

<div>
	Domain name points at proxy.heroku.com...
	<img src="/images/check.png" />
</div>

<div>
	HTTP status...
	<img src="/images/spinner.gif" />
</div>


