<table>
	<tr>
		<th>Diagnosis</th>
		<td>Your app is online and serving pages.</td>
	</tr>
	<tr>
		<th>Details</th>
		<td>
			<ul>
				<li>HTTP status 200</li>
				<li>250ms response time</li>
				<li>3984 bytes text/html response body</li>
				<li>Served from cache, page is 37 seconds old</li>
			</ul>
		</td>
	</tr>
</table>
