<table>
	<tr>
		<th>Diagnosis</th>
		<td>No app by that name exists on Heroku.</td>
	</tr>
	<tr>
		<th nowrap="1">Next steps</th>
		<td>
You or one of your collaborators may have renamed the app.  Check the output of "heroku list" or look at <a href="http://heroku.com/myapps">http://heroku.com/myapps</a> and locate your app.

<p>If you have a local checkout, you can find the app name with the "heroku info" command inside the checkout directory.</p>

<p>Further reading: <a href="http://docs.heroku.com/renaming-apps">Heroku docs on renaming apps</a></p>

		</td>
	</tr>
</table>
